.wrapper {
	display: flex;
	flex-direction: column;
	height: 100%;
	overflow: hidden;
}

.main {
	flex: 1;
	color: #fff;
	overflow: hidden;
}

.full {
	width: 100% !important;
	height: 100% !important;
	overflow: hidden;
}

.room {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-width: 100%;
	min-height: 100%;
}

.screen {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.line {
	width: 300px;
	height: 4px;
	background: #fff;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	-ms-border-radius: 100px;
	-o-border-radius: 100px;
	border-radius: 100px;
	position: relative;
	perspective: 10px;
}

.line::before {
	content: '';
	display: block;
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	height: 50px;
	background: linear-gradient(#ffffff86, #ffffff00);
	transform-origin: top;
	-webkit-transform: rotate3d(1, 0, 0, 10deg);
	-moz-transform: rotate3d(1, 0, 0, 10deg);
	-ms-transform: rotate3d(1, 0, 0, 10deg);
	-o-transform: rotate3d(1, 0, 0, 10deg);
	transform: rotate3d(1, 0, 0, 10deg);
}

.seats {
	display: flex;
	position: relative;
}

.seat {
	width: 36px;
	height: 36px;
	border: 1px solid var(--seat-color);
	color: var(--seat-color);
	font-size: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	margin: 5px 1px;
	cursor: pointer;
	user-select: none;
	background: transparent;
}

.seat:hover {
	opacity: 0.8;
}
.seat.selected {
	background: var(--seat-color);
	color: #fff;
}

.seat.booked {
	background: #ffffff05;
	border: none;
	color: #fff;
}

.seat.booked:hover {
	cursor: default;
}

.footer {
	width: 100%;
	height: 50px;
	background: #ffffff10;
	color: #fff;
	display: flex;
	align-items: center;
}

.price {
	flex: 1;
	padding: 0 20px;
	font-weight: bold;
}

.button {
	padding: 20px;
	height: 100%;
	display: flex;
	align-items: center;
	background: var(--primary);
	cursor: pointer;
}

.details {
	padding: 10px;
	background-size: cover;
	background-position: center;
	position: relative;
	display: flex;
	color: #fff;
}

.details::before {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: #000000dd;
}

.texts {
	padding: 0 20px;
}

.texts p {
	margin: 10px 0;
}

.details > * {
	position: relative;
}

.details img {
	margin: 0;
	width: 100px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
}

.table {
	width: 100%;
	margin: 20px 0;
	border-collapse: collapse;
}

.table th,
.table td {
	border-bottom: 1px solid #ddd;
	padding: 10px;
	text-align: center;
}
