.wrapper,
.wrapper:hover {
	padding: 15px 30px;
	background: var(--primary);
	color: #fff;
	border: 1px solid transparent;
}

.outlined {
	border-color: var(--primary);
	background: transparent;
	color: var(--primary);
}

.wrapper * {
	text-decoration: none;
}
