.wrapper,
.wrapper:hover {
	padding: 10px 30px;
	background: var(--primary);
	color: #fff;
	border: 1px solid transparent;
	cursor: pointer;
	text-align: center;
	margin: 5px 0;
}

.wrapper.block {
	width: 100%;
}
.outlined {
	border-color: var(--primary);
	background: transparent;
	color: var(--primary);
}

.wrapper * {
	text-decoration: none;
}
