.wrapper,
.wrapper:hover {
	padding: 10px 30px;
	background: var(--primary);
	color: #fff;
	border: 1px solid transparent;
	cursor: pointer;
	text-align: center;
	margin: 5px 0;
}

.wrapper:hover {
	background: #a54a00;
}

.wrapper.block {
	width: 100%;
}

.outlined {
	border-color: var(--primary);
	background: transparent;
	color: var(--primary);
}

.outlined:hover {
	background: var(--primary);
}

.wrapper * {
	text-decoration: none;
}
