.wrapper {
	width: 100%;
	display: block;
	text-decoration: none;
	color: #000;
}

.image {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
}

.image:hover .overlay {
	opacity: 1;
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #000000aa;
	opacity: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	-webkit-transition: 0.4s ease;
	-moz-transition: 0.4s ease;
	-ms-transition: 0.4s ease;
	-o-transition: 0.4s ease;
	transition: 0.4s ease;
}

.button {
	padding: 10px 30px;
	border: 1px solid #ffffff;
	color: #fff;
	text-transform: uppercase;
	-webkit-transition: 0.4s ease;
	-moz-transition: 0.4s ease;
	-ms-transition: 0.4s ease;
	-o-transition: 0.4s ease;
	transition: 0.4s ease;
}

.button:hover {
	background: var(--primary);
	border-color: var(--primary);
}

.text {
	padding: 10px 0;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.wrapper.dark .text {
	color: #fff;
}

.text span {
	color: #aaa;
}
