.wrapper {
	background: #000000ee;
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	user-select: none;
}

.header {
	width: 100%;
	height: 50px;
	background: #ffffff10;
	color: #ffffff10;
	display: flex;
	align-items: center;
	color: #fff;
}

.title {
	flex: 1;
}

.wrapper img {
	margin: 0 20px;
	display: block;
}

.button {
	width: 50px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #ffffff10;
	cursor: pointer;
	margin-right: 10px;
	-webkit-transition: 0.4s ease;
	-moz-transition: 0.4s ease;
	-ms-transition: 0.4s ease;
	-o-transition: 0.4s ease;
	transition: 0.4s ease;
}

.button:hover {
	background: #000;
}

.button > * {
	-webkit-transition: 0.4s ease;
	-moz-transition: 0.4s ease;
	-ms-transition: 0.4s ease;
	-o-transition: 0.4s ease;
	transition: 0.4s ease;
}

.button:hover > * {
	margin-right: 5px;
}

.content {
	flex: 1;
}
