.wrapper {
	padding-top: 50px;
}

.wrapper h1,
.wrapper h2,
.wrapper h3,
.wrapper h4,
.wrapper h5,
.wrapper h6 {
	text-transform: uppercase;
	position: relative;
	padding-bottom: 10px;
	margin: 20px 0;
}

.wrapper h1::before,
.wrapper h2::before,
.wrapper h3::before,
.wrapper h4::before,
.wrapper h5::before,
.wrapper h6::before {
	content: '';
	display: block;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 50px;
	height: 2px;
	background: var(--primary);
}

.wrapper p {
	margin: 20px 0;
	text-align: justify;
	color: #222;
	font-size: 18px;
}

.wrapper ul li {
	list-style: square;
	margin-left: 20px;
}
